/* Variables */

:root {
  --primary-color: #303030;
  --secondary-color: #080808;
  --accent-color: #4d4dff;
  --max-width: 1000px;
}

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main styles */

body {
  font: normal 1.5rem/1.4 'Crimson Text', serif;
  background-color: var(--primary-color);
  color: #fff;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  text-align: center;
}

ul {
  list-style: none;
}

.section-title {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */

header {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 1.1rem;
}

header h1 {
  font-size: 3rem;
}

span {
  color: var(--accent-color) !important
}

/* Section: Basic Info */

#basic-info .basic-info-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem;
}

#basic-info .basic-info-content img {
  width:200px
}

#basic-info .basic-info-content ul {
  list-style: none;
  text-align: left;
  margin-left: 3rem;
}

/* Section: Work experience */

#exp {
  margin: 3rem;
}


#exp ul {
  position: relative;
  margin: 4rem;
}

/* White line in the middle */

#exp ul li {
  position: relative;
  margin: 0 auto;
  padding-top: 3rem;
  width: 6px;
  background-color: #fff;

}

/* Circles */

#exp ul li:after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  left: 50%;
  bottom: 0;
  background-color: var(--accent-color);
  transform: translateX(-50%);
  border-radius: 50%;
}


/* Boxes */

#exp ul li div {
  position: relative;
  width: 400px;
  bottom: 0;
  text-align: left;
  padding: 1rem;
  background-color: var(--accent-color)
}

/* Right Side */

#exp ul li:nth-child(odd) div {
  left: 40px;
}
/* Left side */

#exp ul li:nth-child(even) div {
  left: -434px;
}

#exp ul li div p {
  font-size: 1.2rem;
}

/* Arrows base */

#exp ul li div::before {
  content: "";
  position: absolute;
  bottom: 5px;
  height: 0;
  width: 0;
  border-style: solid;
}

/* Right Arrow */
#exp ul :nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--accent-color) transparent transparent;
}

/* Left Arrow */
#exp ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--accent-color) ;
}

/* Section: Skills and Hobbies */

#skills h2 {
  margin-bottom: 2rem;
}

#skills .skills-and-hobbies {
  display: flex;
  justify-content: space-evenly;
}

#skills .skills-and-hobbies ul li:first-child {
color: var(--accent-color);
font-weight: bold;
font-size: 2rem;
margin-bottom: 0.3rem;
}

#skills .skills-and-hobbies ul:nth-child(2n) {
  text-align: center;
}

#skills .skills-and-hobbies ul:last-child {
  text-align: right;
}


/* Section: cover-letter */

#cover-letter .container h2 {
  margin-bottom: 600px
}

.button {
  background-color: var(--accent-color);
  border-radius: 20px/20px;
  padding: 8px;
  transition: all 0.5s ease-out;
}

.button:hover {
  color: var(--accent-color);
  background-color: #fff;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.letter {
  position: relative;
  width: 800px;
  background-color: #bd9460;
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 0px 0px 100px 0px;
}

.close {
position: absolute;
top: 20px;
right: 20px;
color: var(--secondary-color);
font-weight: bold;
transition: all 0.2s;
}

.close:hover {
  color: #fff;
}




